@tailwind base;
@tailwind components;
@tailwind utilities;

.my_container {
  @apply w-[94%] sm:w-[90%] lg:w-[95%] xl:max-w-[1340px] mx-auto;
}

:root {
  --primary-color: #ffad64;
  --secondary-color: #ff9344;
  --primary-font: "Poppins", sans-serif;
  --title-size: 36px;
  --subtitle-size: 20px;
}

* {
  font-family: var(--primary-font);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.title-size {
  font-size: var(--title-size);
}

.subtitle-size {
  font-size: var(--subtitle-size);
}
